@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
 }

:root {
  --backMain-color: #fafafa;
  --backSecondary-color: #F1F1F6;
  
  --fontBold-color: #303030;
  --fontNormal-color: #707070;
  --fontPlaceholder-color: #89baea;

  --darkBorder-color: #336699;
  --matFill-color: #c8daeb;
  --altFill-color: #33995d;
  
  --base-font: 'Roboto', sans-serif;
}

html {
  /* background-color: var(--backSecondary-color); */
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--fontBold-color);
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  margin: 0;
  /* padding: 32px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: url('../public/tile.jpg'); */
  background-size: 256px;
}

.app {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  
}




h1 {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  color: var(--fontBold-color);
  text-align: center;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--fontBold-color);
}

h3 {
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
  color: var(--fontBold-color);
}

span.message {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--fontBold-color);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.home {
  /* background-color: var(--backMain-color); */

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  flex: 1;
  align-items: flex-start;

  /* border: 1px solid var(--matFill-color); */
  gap: 0px;

}

.login {
  display: flex;
  flex-direction: row;
  gap: 8px;

  position: absolute;
  top: 0;
  right: 0;

  padding: 16px;
}

.login input {
  width: 300px;
}

.home-base {
  /* border-left: 1px solid var(--matFill-color); */
  position:relative;
  width: 100%;
  height: 100%;
  gap: 0px;
  box-sizing: border-box;
  align-items: center;
}

.chatbot {
  position:relative;
  width: 100%;
  height: 100%;
  gap: 0px;
  box-sizing: border-box;
  border-left: 1px solid var(--matFill-color);
}


.chat-temp span {
  font-size: 12px;

}







.topic-header {
  /* border-bottom: 1px solid var(--matFill-color); */
  padding: 16px;
  box-sizing: border-box;
  min-height: 80px;
}

.topic-list {
  width: 330px;
  gap: 0px;
}

.topic-list-header {
  font-weight: bold;
  font-style: italic;
  padding: 16px;
  color: #369;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.topic-list-header img {
  max-width: 32px;
  max-height: 32px;
  object-fit: contain;
  margin-right: 8px;
}

.topic-list-footer {
  font-weight: bold;
  font-style: italic;
  padding: 16px;
  color: #369;

  display: flex;
  flex-direction: row;
  align-items: flex-end;

  position:absolute;
  bottom: 0;
}

.topic-list-footer svg {
  /* margin-left: 6px; */
}


.topic {
  padding: 12px 18px;
  cursor: pointer;

  position:  relative;
}

.topic:hover {
  background-color: var(--backSecondary-color);
}

.topic.active {
  background-color: var(--darkBorder-color);
}

.topic-picture-wrap {
  /* height: 32px;
  width: 32px; */
  /* border-radius: 80px; */
  /* border: 1px solid var(--matFill-color); */
  /* background-color: var(--matFill-color); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.topic.active .topic-picture-wrap {
  /* border: 1px solid var(--darkBorder-color); */
}

.topic-picture {
  max-width: 24px;
  max-height: 23px;
  object-fit: contain;
}

.topic.active .topic-picture {
  color: var(--backSecondary-color);
}

.topic-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--fontBold-color);
}

.topic.active .topic-name {
  color: var(--backSecondary-color);
}

.topic-details {
  gap: 0px;
}

.topic-summary {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--fontNormal-color);
}

.topic-controls {
  /* position: absolute; */
  cursor: pointer;
  bottom:3px;
  right: 8px;

  /* background-color: var(--matFill-color); */
  /* border-radius: 12px; */

  /* padding: 2px 8px 0 8px; */
}

.topic-control {
  margin-left: 6px;
}

.topic-control.phase {
  /* position: relative; */
  border: 1px solid red;
  /* background-color: var(--matFill-color); */
  border-radius: 12px;
  padding: 0 8px;

}


.topic-controls-phase svg {
  /* position: absolute; */
  /* top:32px; */

}




.placeholder {
  justify-content: center;
  align-items: center;
  color: var(--fontPlaceholder-color);
}